.backgr2 {
    background-image: url(https://www.w3schools.com/js/pic_bulbon.gif);
    height: 85px;
    width: 45px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 10px;
    border: none;
}
.backgr {
    background-image: url(https://www.w3schools.com/js/pic_bulboff.gif);
    height: 85px;
    width: 45px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 10px;
    border: none;
}
@media (min-width: 490px) {
    .area{
        width: 50%;
    }   
}































































 



















